.form-group
  input.form-control(type='email', name="username" placeholder="#{var output = user ? user.username : 'email'}")
.form-group
  input.form-control(type='password' name="password" placeholder='password')
.form-group
  - var output = user.firstname ? user.firstname : 'first name';
  input.form-control(type='text' name="firstname" placeholder="#{output}")
.form-group
  - var output = user.lastname ? user.lastname : 'last name'; 
  input.form-control(type='text', name="lastname", placeholder="#{output}")
.form-group
  - var output = user.address.street ? user.address.street : "street";
  input.form-control(type='text', name="street", placeholder="#{output}")
.form-group
  - var output = user.address.city  ? user.address.city : "city";
  input.form-control(type='text', name="city", placeholder="#{output}")
.form-group
  - var output = user.address.state ? user.address.state : "2 letter state";
  input.form-control(type='text', name="state", placeholder='#{output}', maxlength=2)
.form-group
  - var output = user.address.zip ? user.address.zip : "zip code";
  input.form-control(type='number', name="zip", placeholder="#{output}", maxlength=5)

button.btn.btn-default(type='submit') Submit
span &nbsp;
