extends layout

block content
  .container
    h2 Add a tool 
     if user
      <small><a href="/dashboard">back to dashboard</a></small>
    .row
      .col-md-6
        ul.nav.nav-pills
          each cat in lists
            if (category == cat.cat)
              li(class="active" role="presentation")
                a( href="/tools/add?category=#{cat.cat}") #{cat.cat[0].toUpperCase() + cat.cat.slice(1,cat.length)} Tools
            else
              li(role="presentation")
                a( href="/tools/add?category=#{cat.cat}") #{cat.cat[0].toUpperCase() + cat.cat.slice(1,cat.length)} Tools
    .row
      .col-md-6
        table.table.table-striped
          tr
            thead
              th Tool
            tbody
              each list in lists
                each tool in list.list
                  if (list.cat == category)
                    tr
                      td
                        <medium class="pull-left">#{tool}</medium>
                        <small class="pull-right"><a href="/tools/new?category=#{category}&name=#{tool}">add</a></small>
