extends layout

block content
  .container-fluid
    header
      h1 User Dashboard
      include ./includes/dashboard/dashboardnav.jade
    .row
      .col-md-4
        h4 My Tools
        ul.list-group
          each tool in tools
            li.list-group-item #{tool.name} <small class="pull-right"><a href="/tools/#{tool.id}">delete</a> | <a href="">edit</a></small>
        p
          a.pull-right(href="/tools/add") Add a tool
      .col-md-4
        h4 Tools I want to borrow
        ul.list-group
          each req in borrowReqs
            li.list-group-item #{req._tool.name} | #{req._lender.firstname} #{req._lender.lastname}
      .col-md-4
        h4 Tools that somebody wants to borrow
        ul.list-group
          each req in lendReqs
            li.list-group-item #{req._tool.name} | #{req._requester.firstname} #{req._requester.lastname}
