extends layout

block content
  .container
    h2 Find a tool
    .row
      .col-md-12
        ul.nav.nav-pills
          each cat in ['power','hand','bench', 'air']
            if (category == cat)
              li(class="active" role="presentation")
                a( href="/findtools/#{cat}") #{cat[0].toUpperCase() + cat.slice(1,cat.length)} Tools
            else
              li(role="presentation")
                a( href="/findtools/#{cat}") #{cat[0].toUpperCase() + cat.slice(1,cat.length)} Tools
    .row
      .col-md-6
        table.table.table-striped
          tr
            thead
              th Tool
              th Available
            tbody
              each tool in tools
                a((href="/requesttool/#{tool.name}") )
                tr
                  td #{tool.name} 
                  td #{tool.count}
              
