extends layout

block content
  .container-fluid
    .row
      .col-md-4
        h2 Available #{tools[0].name}s
        table.table.table-striped
          each tool in tools
            tr
              td= tools.indexOf(tool) + 1
              td #{tool._user.firstname} #{tool._user.lastname}
              td 
                form(action="/toolrequests" method="post")
                  input(type="hidden" name="lenderId" value="#{tool._user.id}")
                  input(type="hidden" name="borrowerId" value="#{user.id}")
                  input(type="hidden" name="toolId" value="#{tool.id}")
                  button.btn.btn-success Borrow tool
